{% extends "bootstrap/base.html" %}

{% block content %}
<h1> Hallo</h1><br>
<p1>{{ids}}</p1>><br>
<div>
  {% for id in ids %}
    <p1>id: {{id.id}}</p1> <br>
  {% endfor %}
</div>


<!--
https://getbootstrap.com/docs/4.0/components/alerts/
https://pythonhosted.org/Flask-Bootstrap/

-->
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock %}
