{% extends "layout.html" %}
{% block content %}

<p1> show expense categories</p1>
<table class="table table-striped table-hover table_striped table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">description</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
  {% for e in exp_cats.items%}
    <tr>
      <th scope="row">{{e.id}}</th>
      <td>{{e.name}}</td>
      <td>{{e.description}}</td>
      <td>{{ e.created_on.strftime("%Y-%m-%d") }}</td>
    </tr>
  </tbody>
{% endfor %}
    </table>
{% endblock content %}