{% extends "layout.html" %}
{% block content %}

<p1>show expenses</p1>

<table class="table table-striped table-hover table_striped table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">amount</th>
      <th scope="col">category</th>
      <th scope="col">date</th>
    </tr>
  </thead>
  <tbody>
    {% for e in exp.items%}
  <tr>
      <th scope="row">{{e.id}}</th>
      <td>{{e.name}}</td>
      <td>{{ e.amount }}</td>
      <td>{{ e.expensecategory_id }}</td>
      <td>{{ e.created_on.strftime("%Y-%m-%d") }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>





{% endblock content %}