{% extends "layout.html" %}
{% block title %}
    <h1>Home</h1>
{% endblock title %}

{% block content %}
        <!-- HEADER: User information -->
        <article class="media content-section">
            <!--  Image-->
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename= 'profile_pics/' + user.image_file) }}">
            <!-- Animal information -->
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ user.username }}</a>
                </div>
                <p1 class="mb-3">Total Animals : ({{animals.total}}) </p1>
            </div>
        </article>
    <!-- animal Information-->
    {% for animal in animals.items %}
        {% set nr = '{:04d}'.format(animal.tag_id)  %}
        {% set image = animal.image_file  %}
        {% set picture_split = image.split(sep=".", maxsplit=2)  %}
        {% set picture =  animal.tag_id  ~ '.' + picture_split[1] %}
        <article class="media content-section">
            <!--  Image-->
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename= 'animals_pics/' + nr + '/' + picture) }}">
            <!-- Animal information -->
            <div class="media-body">
                <div class="article-metadata">
	                <p1><a class="mr-2" href="{{ url_for('animals.show_animal', animal_id=animal.id) }}">Animal Tag Nr. : {{ animal.tag_id }}</a></p1>
                </div>
                {% if animal.sex==1  %}
                    <p1 class="article-content">Sex: Female</p1><br>
                {% elif animal.sex==2 %}
                    <p1 class="article-content">Sex: Male}</p1><br>
                {% else  %}
                    <p1 class="article-content">Sex: Unknown}</p1><br>
                {% endif %}

                <p1 class="article-content">Animal Purchased Price: Rs {{ animal.purchased_price }}</p1><br>
                <p1 class="article-content">Animal Purchased Date: {{ animal.purchased_date }}</p1><br>
                <p1 class="article-content">Description: {{ animal.description }}</p1><br>
            </div>
        </article>
    {% endfor %}

    <!-- Pagination - Page Number -->
    {% for page_num in animals.iter_pages(left_edge=3, right_edge=2, left_current=1,  right_current=3) %}
        {% if page_num %}
            {% if animals.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('users.user_animals', username=user.username, page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_animals', username=user.username, page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}




{% endblock content %}