{% extends "layout.html" %}
{% block title %}
    <h1>Users List</h1>
{% endblock title %}

{% block content %}
    <h1> Users List </h1>

    {% for user in users %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename= 'profile_pics/' + user.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{url_for('users.user_animals', username=user.username)}}">{{user.username }}</a>

            </div>
          <div class="media-body">
            <div class="article-metadata">
              <p1 class="article-content">{{ user.id }}</p1><br>
              <p1 class="article-content">{{ user.email }}</p1><br>
            </div>
        </article>
    {% endfor %}

{% endblock content %}