{% extends "bootstrap/base.html" %}

{% block content %}
<h1> Hallo</h1><br>

<p1>Users Ids : {{users[0].id}}</p1><br>
<p1>Users name : {{users[0].name}}</p1><br>
<p1>Tenants Ids : {{tenants[0].id}}</p1><br>
<p1>Tenants name : {{tenants[0].name}}</p1><br>

m.to_json() for m in movies]
<div>
  {% for u in users %}
    <p1>id: {{u.id}}</p1> <br>
    <p1>User name: {{u.name}}</p1> <br>
  {% endfor %}

  <p1>Tenants Ids : {{tenants}}</p1>><br>
  {% for t in tenants %}
    <p1>id: {{t.id}}</p1> <br>
    <p1>Tenant name: {{t.name}}</p1> <br>
  {% endfor %}
</div>


<!--
https://getbootstrap.com/docs/4.0/components/alerts/
https://pythonhosted.org/Flask-Bootstrap/

-->
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert—check it out!
</div>
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
<div class="alert alert-info" role="alert">
  This is a info alert—check it out!
</div>
<div class="alert alert-light" role="alert">
  This is a light alert—check it out!
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert—check it out!
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

{% endblock %}
