{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                 <!-- tag_id  -->
                <div class="form-group">
                    {{ form.tag_id.label(class="form-control-label") }}
                    {% if form.tag_id.errors %}
                        {{ form.tag_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tag_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- sex  -->
                <div class="form-group">
                    {{ form.sex.label(class="form-control-label") }}
                    {% if form.sex.errors %}
                        {{ form.sex(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sex(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Breed-->
                <div class="form-group">
                    {{ form.breed.label(class="form-control-label") }}
                    {% if form.breed.errors %}
                        {{ form.breed(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.breed.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.breed(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- purchased batch  -->
                <div class="form-group">
                    {{ form.purchased_batch.label(class="form-control-label") }}
                    {% if form.purchased_batch.errors %}
                        {{ form.purchased_batch(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.purchased_batch(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- purchased date -->
                <div class="form-group">
                    {{ form.purchased_date.label(class="form-control-label") }}
                    {% if form.purchased_date.errors %}
                        {{ form.purchased_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.purchased_date.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.purchased_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- purchased_from mandi-->
                <div class="form-group">
                    {{ form.mandi.label(class="form-control-label") }}
                    {% if form.mandi.errors %}
                        {{ form.mandi(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mandi.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mandi(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- purchased_price  -->
                <div class="form-group">
                    {{ form.purchased_price.label(class="form-control-label") }}
                    {% if form.purchased_price.errors %}
                        {{ form.purchased_price(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.purchased_price(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- purchased from person - Seller-->
                <div class="form-group">
                    {{ form.seller.label(class="form-control-label") }}
                    {% if form.seller.errors %}
                        {{ form.seller(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.seller.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.seller(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Farm name-->
                <div class="form-group">
                    {{ form.farm.label(class="form-control-label") }}
                    {% if form.farm.errors %}
                        {{ form.farm(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.farm.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.farm(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Pen-->
                <div class="form-group">
                    {{ form.pen.label(class="form-control-label") }}
                    {% if form.pen.errors %}
                        {{ form.pen(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pen.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pen(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Herd-->
                <div class="form-group">
                    {{ form.herd.label(class="form-control-label") }}
                    {% if form.herd.errors %}
                        {{ form.herd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.herd.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.herd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Owner-->
                <div class="form-group">
                    {{ form.owner.label(class="form-control-label") }}
                    {% if form.owner.errors %}
                        {{ form.owner(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.owner.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.owner(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--  start weight -->
                <div class="form-group">
                    {{ form.start_weight.label(class="form-control-label") }}
                    {% if form.start_weight.errors %}
                        {{ form.start_weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_weight.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- description -->
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- picture -->
                <div class="form-group">
                        {{ form.picture.label(class="form-control-label") }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
            </fieldset>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>



{% endblock content %}

<!--
    tag_id = IntegerField('Registration Nr.',validators=[DataRequired()])
    owner_id = IntegerField('Registration Nr.',validators=[DataRequired()])
    description = TextAreaField('Description', validators=[DataRequired()])
    sex = IntegerField('Sex ',validators=[DataRequired()]) # 1= Female, 2= Male
    source = StringField('Purchase Source',validators=[DataRequired(), Length(min=3, max=100)])
    purchased_price = IntegerField('Purchase Price',validators=[DataRequired()])

-->