{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                <div class="article-metadata">
                    {% for animal in animals.items %}
                    <span>
                        <a class="btn btn-info mb-1"
                           href="{{ url_for('animals.add_animal_weight_map', tag=animal.tag_id)}}">{{ animal.tag_id }}</a>
                    </span>
                    {% endfor %}
                </div>
            </fieldset>
            <!-- Submit Method -->
            <!-- Tags Number list-->
            <div><br></div>
            <div>
            <div class="form-group">
                    {{ form.tag_id.label(class="form-control-label") }}
                    {% if form.tag_id.errors %}
                    {{ form.tag_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tag_id.errors %}
                        <span>
                                    {{error}}
                                </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.tag_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </div>
            </div>

        </form>
    </div>
{% endblock content %}
