{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                 <!-- tag_id  -->
                <div class="form-group">
                    {{ form.tag_id.label(class="form-control-label") }}
                    {% if form.tag_id.errors %}
                        {{ form.tag_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tag_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- sex  -->
                <div class="form-group">
                    {{ form.sex.label(class="form-control-label") }}
                    {% if form.sex.errors %}
                        {{ form.sex(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.sex(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <!-- buck id - father   -->
                <div class="form-group">
                    {{ form.buck_id.label(class="form-control-label") }}
                    {% if form.buck_id.errors %}
                        {{ form.buck_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.buck_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <!-- doe id - father   -->
                <div class="form-group">
                    {{ form.doe_id.label(class="form-control-label") }}
                    {% if form.doe_id.errors %}
                        {{ form.doe_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.doe_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                <!-- Breed-->
                <div class="form-group">
                    {{ form.breed.label(class="form-control-label") }}
                    {% if form.breed.errors %}
                        {{ form.breed(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.breed.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.breed(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Farm name-->
                <div class="form-group">
                    {{ form.farm.label(class="form-control-label") }}
                    {% if form.farm.errors %}
                        {{ form.farm(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.farm.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.farm(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Pen-->
                <div class="form-group">
                    {{ form.pen.label(class="form-control-label") }}
                    {% if form.pen.errors %}
                        {{ form.pen(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pen.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pen(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Herd-->
                <div class="form-group">
                    {{ form.herd.label(class="form-control-label") }}
                    {% if form.herd.errors %}
                        {{ form.herd(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.herd.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.herd(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Owner-->
                <div class="form-group">
                    {{ form.owner.label(class="form-control-label") }}
                    {% if form.owner.errors %}
                        {{ form.owner(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.owner.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.owner(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--  start weight -->
                <div class="form-group">
                    {{ form.start_weight.label(class="form-control-label") }}
                    {% if form.start_weight.errors %}
                        {{ form.start_weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_weight.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.start_weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- description -->
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- picture -->
                <div class="form-group">
                        {{ form.picture.label(class="form-control-label") }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        {% endif %}
                    </div>
            </fieldset>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>



{% endblock content %}
