{% extends "layout.html" %}
{% block content %}
        <!-- HEADER: User information -->
        {% set nr = '{:04d}'.format(animal.tag_id)  %}
        {% set image = animal.image_file  %}
        {% set picture_split = image.split(sep=".", maxsplit=2)  %}
        {% set picture =  animal.tag_id  ~ '.' + picture_split[1] %}
        <article class="media content-section">
            <!--  Image-->
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename= 'animals_pics/' + nr + '/' + picture) }}">
            <!-- Animal information -->
            <div class="media-body">

                <p1> <a class="mr-2" href="#">Tag Nr.:{{ animal.tag_id  }}</a></p1> <br>
                <small class="text-muted ml-2">
                    Start Weight: ({{animal.start_weight}})
                </small> <br>
                <small class="text-muted ml-2">
                    Expected Weight: ({{animal.current_weight}})
                </small> <br>
            </div>

        </article>

   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                 <!-- weight -->
                <div class="form-group">
                    {{ form.weight.label(class="form-control-label") }}
                    {% if form.weight.errors %}
                        {{ form.weight(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.tag_id.errors %}
                                <span>
                                    {{error}}
                                </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.weight(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>



{% endblock content %}
