{% extends "layout.html" %}
{% block content %}
   <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <table class="table-sm table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Tag Nr. </th>
                          <th scope="col">Weight</th>
                        </tr>
                      </thead>
                    {% for entry in form.list %}
                            <tbody>
                                <tr >
                                  <th scope="row">{{ entry.form.tag_id.data}}</th>
                                  <td>{{ entry.form.weight}} </td>
                                </tr>
                          </tbody>
                    {% endfor %}
                </table>
            </fieldset>
            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}

