{% extends "layout.html" %}
{% block content %}
    {% for animal in animals.items %}
        <article class="media content-section">

            <!-- Delete -->
            {% set nr = '{:04d}'.format(animal.tag_id)  %}
            {% set image = animal.image_file  %}
            {% set picture_split = image.split(sep=".", maxsplit=2)  %}
            {% set picture =  animal.tag_id  ~ '.' + picture_split[1] %}
                <!--  Image-->
            <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename= 'animals_pics/' + nr + '/' + picture) }}">
            <div class="media-body">

                 <div class="article-metadata">
	                <p1><a class="mr-2" href="{{ url_for('animals.show_animal', animal_id=animal.id) }}">Animal Tag Nr. : {{ animal.tag_id }}</a></p1>
                </div>



                <p1 class="article-content">Owner: {{ animal.owner.username }}</p1><br>

                {% if animal.sex==1  %}
                    <p1 class="article-content">Sex: Female</p1><br>
                {% elif animal.sex==2 %}
                    <p1 class="article-content">Sex: Male}</p1><br>
                {% else  %}
                    <p1 class="article-content">Sex: Unknown}</p1><br>
                {% endif %}


                <p1 class="article-content">Purchased Price : Rs{{ animal.purchased_price }}</p1><br>
                <p1 class="article-content">Description:{{ animal.description }}</p1><br><br>
                <p1>vaccine History:</p1> <br>

                {% for vaccine in animal.vaccines%}
                    <small class="text-muted">{{vaccine.vaccinetypes.name}}</small>
                    <small class="text-muted">{{ vaccine.vaccine_date.strftime("%Y-%m-%d") }}</small><br>
                {% endfor %}
            </div>
        </article>
    {% endfor %}
<!-- Modal -->
    <!-- Pagination - Page Number -->
    {% for page_num in animals.iter_pages(left_edge=3, right_edge=2, left_current=1,  right_current=3) %}
        {% if page_num %}
            {% if animals.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('animals.animals_list', username=user.username, page=page_num)}}">{{page_num}}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('animals.animals_list', username=user.username, page=page_num)}}">{{page_num}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}


{% endblock content %}