{% extends "layout.html" %}
{% block content %}
<!-- Buttons-->
<article class="media content-section">
    <!-- add Weight Button-->
    <fieldset class="form-group">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success">
                <a href="{{ url_for('animals.add_animal_weight', tag=animal.tag_id)}}" style="color:#FFFFFF">Add
                    Weight</a>
            </button>
        </div>
        <!-- Vaccines-->
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-warning">Vac 1</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Vaccines
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Vaccines 3</a>
                </div>
            </div>
        </div>

        <!-- Diesease-->
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-danger">1</button>

            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Dieseases
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">2</a>
                </div>
            </div>
        </div>
    </fieldset>
</article>
<!-- Image-->
<article class="media content-section">
    {% set nr = '{:04d}'.format(animal.tag_id) %}
    {% set image = animal.image_file %}
    {% set picture_split = image.split(sep=".", maxsplit=2) %} <!-- name, extention -->
    <!-- extract and join extention i.e .jpeg -->
    {% set picture = animal.tag_id ~ '.' + picture_split[1] %}
    <!--  Image-->
    <img class="rounded-circle article-img"
         src="{{ url_for('static', filename= 'animals_pics/' + nr + '/' + picture) }}">
    <!-- Animal Information-->
    <div class="media-body">
        <h3>Animal Tag: {{ animal.tag_id }}</h3><br>
        <br>
</article>
<!-- animal Information-->
<article class="media content-section">
    <!-- Animal Information-->
    <div class="media-body">
        <p1 class="article-content">Owner Name: {{ animal.owner.username }}</p1>
        <br>
        <small class="text-muted ml-2">
            Start Weight: ({{animal.start_weight}})
        </small> <br>
        <small class="text-muted ml-2">
            Expected Weight: ({{animal.current_weight}})
        </small> <br>
        {% if animal.sex==1 %}
        <small class="text-muted ml-2">Sex: Female</small> <br>
        {% elif animal.sex==2 %}
        <small class="text-muted ml-2">Sex: Male</small> <br>
        {% else %}
        <small class="text-muted ml-2">Sex: Unknown</small> <br>
        {% endif %}
        <small class="text-muted ml-2">
            Purchased Price in Rs:{{ animal.purchased_price }}
        </small> <br>
        <small class="text-muted ml-2">
            Description: {{ animal.description }}
        </small> <br><br>
</article>
<!-- Vaccines-->
<article>
    <p1>vaccine Log:</p1>
    <br>
    <div>
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col"> date</th>
            </tr>
            </thead>
            <tbody>
            {% for vaccine in animal.vaccines%}
            <tr>
                <th scope="row">{{vaccine.id}}</th>
                <td>
                    <small class="text-muted">{{vaccine.vaccinetypes.name}}</small>
                </td>
                <td>
                    <small class="text-muted">{{ vaccine.vaccine_date.strftime("%Y-%m-%d") }}</small><br>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
<!-- weights-->
<article>
    <p1>Weight Growth Log:</p1>
    <br>
    <div>
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">weight</th>
                <th scope="col"> date</th>
            </tr>
            </thead>
            <tbody>
            {% for wt in animal.weights%}
            <tr>
                <th scope="row">{{wt.id}}</th>
                <td>
                    <small class="text-muted">{{wt.weight}}</small>
                </td>
                <td>
                    <small class="text-muted">{{ wt.created_on.strftime("%Y-%m-%d") }}</small><br>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</article>
<!-- Dieseases-->
<article class="media content-section">
    <fieldset class="form-group">
    <p1>Diesease</p1>
    </fieldset>

</article>
<!-- Modal -->
{% endblock content %}