{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="article-metadata">
        {% for animal in animals.items %}
        <span>
            <a class="btn btn-info mb-1" href="{{ url_for('animals.show_animal', animal_id=animal.id)}}">{{ animal.tag_id }}</a>
        </span>
        {% endfor %}
    </div>
</div>
{% endblock content %}
