{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <!-- picture -->
                <div class="form-group">
                    {{ form.picture.label(class="form-control-label") }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                    <span>
                        {{error}}
                    </span>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Submit -->
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}SS

