 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
  </head>
  <body>
    <p1>movie title: {{ movie.title }}</p1> <br>
    <ul>
        <li>director name:   {{ movie.director.first_name}} {{ movie.director.last_name }}<br>
            <p1>----- first loop: - for m in movie.director.movies </p1><br>
            <p1>-----second loop: - for a in m.actors </p1><br>
            <ul>
                {% for m in movie.director.movies %}
                    {% for a in m.actors %}
                    <li>actor name    :{{a.last_name}}: actor guild   : {{ a.guild.guild }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </li>
        <br>
        <p1>----- first loop: - for a in movie.actors </p1><br>
        <p1>-----second loop: - for m in a.movies </p1><br>
        {% for a in movie.actors %}
        <li> Actor Name   -:{{ a.first_name }} {{ a.last_name }}
            <ul>
            {% for m in a.movies %}
                <li> movie title    :{{m.title}}  : Director Name   :{{m.director.last_name}}:  Director guild   :{{ m.director.guild.guild }}</li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
  </body>
</html>
