<!DOCTYPE html>
<! -- comments -- >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malik Home Page</title>
</head>
<body>
<h1>Home Page</h1>
    <p>{{content}}</p>
    <p>{{r}}</p>
    {% for _ in range(6)%}
        <p>x</p>
    {% endfor %}

    {% for x in range(6)%}
        {% if x % 2 == 1 %}
            <p>{{x}}</p>
        {% endif %}
    {% endfor %}

    {% for x in lst %}
        <p>{{x}}</p>
    {% endfor %}

</body>
</html>