{% extends "base3.html" %}
{% block title %}login Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="#" method="post">
        <p>Name:</p>
        <p><input type="text" name = "nm"/></p>
        <p><input type="Submit" value = "submit"/></p>
    </form>
{% endblock%}